#all {
    position: absolute;
    top: -12.5rem;
    right:-1rem;

    display: flex;
    flex-direction: column;

    max-width: 13.25rem;
    height: 12rem;
    padding: .5rem 0 0 .5rem;
    
    color: var(--font_1);
    background-color: var(--font_2);
    
    border-radius: 1rem .5rem .5rem 1rem;
}

#search {
    margin-right: .5rem;
    margin-bottom: .5rem;
}

#search:focus {
    outline: none;
}

#emojis {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    
    overflow-y: auto;

    margin-bottom: .5rem;
}

.emoji {
    width: 2rem;
    height: 2rem;
    margin: .2rem;
    
    background-color: var(--menu);
    
    border-radius: 2rem;
}

/* ========= Scrollbar ========= */
::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-track{
    background-color: var(--font_2);
    border-radius: 2rem;
}

::-webkit-scrollbar-thumb {
    background: var(--header);
    border: 3px solid var(--font_2);
    border-radius: 2rem;
}
