#side_menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0rem 1rem;
    background-color: #4D729E;
    overflow-y: auto;
}

#side_menu div{
    margin-bottom: 20px;
    margin-left: 10px;
    color: #9EC8DF;
    padding:5px;
    padding-right: 10px;
}

#side_menu div:first-child{
    margin-top: 15px;
}
div:hover {
    background-color: #356CAD;
}