#row {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 100%;
}

#profil_img {
    height: 4rem;
    width: 4rem;
    margin-right: 1rem;
    
    border-radius: 50%;
}

#profil_name {
    display: flex;
    flex-direction: row;
    
    white-space: nowrap;

    margin-right: 1rem;
    
    font-family: sans-serif;
    font-weight: bold;
    
    color: var(--font_1);
}

#profil_params {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
}

/* ===== login ===== */

#login_all {
    display: flex;
    flex-direction: row;
    
    height: 100%;
    padding: 0 2rem;
    
    text-decoration: none;
}

#login_all:visited {
    color: var(--font_2);
}

#login {
    display: flex;
    align-items: center;

    font-size: 1.5rem;
    font-weight: bold;

    text-decoration: none;

    color: var(--font_2);
}

#login_img {
    margin-right: .5rem;
}

#login_all:hover #login_img {
    filter: drop-shadow(1px 1px 2px var(--black));
}
