<div id="row">
    <ng-template [ngIf]="user == undefined" [ngIfThen]="login" [ngIfElse]="namePict">
    </ng-template>

    <ng-template #login>
        <a id="login_all" routerLink="/login">
            <img src="../../../../assets/images/feather-icons/log-in.svg" alt="login" class="feather" id="login_img">
            <div id="login">Login</div>
        </a>
    </ng-template>

    <ng-template #namePict>
        <div>
            <img id="profil_img" src="../../../../assets/images/_remove/users/{{user.picture}}" alt="profil">
        </div>
        <div id="profil_name">{{user.firstname}} {{user.lastname}}</div>
        <div>
            <img id="profil_params" class="feather" src="../../../../assets/images/feather-icons/settings.svg"
                alt="params" (click)="openUserParams()">
        </div>
    </ng-template>
</div>