<section>
    <p>Choisir une image:</p>
    <img id="filechoosen" *ngIf="url" [src]="url">

    <img id="plus" class="icon feather" src="../../../../../assets/images/feather-icons/plus-circle.svg" alt="joinFile"
        (mousedown)="fileInput.click()">

    <span *ngIf="file != undefined" id="file_name">
        <p>{{file.name}}</p>
        <div id="remove_file" (click)="fileInput.value='';delete()">
            <img src="../../../../assets/images/feather-icons/x-circle.svg" alt="remove_file" class="feather">
        </div>
    </span>

    <input type="file" id="input_file" (change)="onChange($event)" accept="image/x-png,image/gif,image/jpeg" #fileInput>
</section>