<div id="all">
    <div id="file_frame" (mousedown)="fileInput.click()">
        <span *ngIf="!url" id="file_empty">Choisit une image</span>
        <img *ngIf="url" id="file_display" [src]="url">
    </div>

    <div id="buttons">
        <img src="../../../../../assets/images/feather-icons/upload-cloud.svg" alt="joinFile" class="feather"
            (mousedown)="fileInput.click()">

        <img *ngIf="file" src="../../../../assets/images/feather-icons/x-circle.svg" alt="remove_file" class="feather"
            (mousedown)="fileInput.value=''; delete()">
    </div>

    <input id="input_file" type="file" (change)="onChange($event)" accept="image/x-png,image/gif,image/jpeg" #fileInput>
</div>