#filechoosen{
    max-height: 13.7vh;
    max-width: 8.7vw;
}
#divFile{
    height: 15vh;
    width: 10vw;
    border: solid var(--black) 5px;
    text-align: center;
}
section {
    display: flex;
    background-color: var(--background);
    margin: 2% 0% 0% 2.3%;
    width: 20%;
    min-width: 25%;
    border-radius: 1.2%;
    padding: 1%;
    border: solid rgba(255,255,255,0.3) 1px;
}
section:hover{
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    border: solid rgba(0, 225, 255, 0.5) 1px;
}
#button_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}   
section p{
    margin-top: 10%;
    margin-right: 2%;
}
#input_file {
    display: none;
}
