#col {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    width: 100%;
    height: 100%;
    
    background-color: var(--background);
}

#msg-thread {
    display: flex;
    flex-direction: column;
 
    width: 100%;
    height: 100%;
    padding-bottom: 1rem;

    overflow-y: scroll;
}

.center {
    width: 90%;
}

.day {
    display: flex;
    flex-direction: column;
    align-items: center;
}

app-line-date {
    margin: .5rem 0;
}

app-msg-writer {
    width: calc(100% - 16px); /* scrollbar width */

    position: sticky;
    bottom: .5rem;
}

/* ========= Scrollbar ========= */
::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track{
    background-color: var(--background);
}

::-webkit-scrollbar-thumb {
    background: var(--header); 

    border: solid 4px var(--background);
    
    border-radius: 200px;
}
