#side_menu {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 100%;
    padding: 0rem 1rem;
    background-color: var(--header);
    overflow-y: auto;
}

#side_menu div{
    margin-bottom: 20px;
    margin-left: 10px;
    color: var(--font_1);
    padding:15px;
}

#side_menu div:first-child{
    margin-top: 15px;
}
div:hover {
    background-color: var(--menu);
}