.all {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:center ;
    background-color: #6595B8;
    height: 100%;
    width: 100%;
  }
  
  p{
    color: black;
    font-size: 14px;
    text-align: center;
    background-color: #6595B8;
  }

img {
    width: 100%;
    height: 100%;
    }
  
.image{
    width: 200px;
    height: 200px;
    border: 3px;
    margin: 0%; 
    padding: 15px 25px; 
    }


    /* margin: auto;  */