#col {
    display: flex;
    flex-direction: column;

    height: 100vh;
    width: 100%;
    max-height: 100vh;
    min-height: 100vh;
}

#row {
    display: flex;
    flex-direction: row;
    
    width: 100%;
    height: 100%;
}

#router_div {
    width: 100%;
    height: 100%;
}
