#col {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
}

#row {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;
}

#router_div {
    width: 100%;
    height: 100%;
}
