#side_menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 5rem;
    height: 100%;
    padding: 0 .5rem;

    background-color: #4D729E;
}

.img_div {
    width: 4rem;
    height: 4rem;
    margin-top: .5rem;
}

.img_button {
    width: 4rem;
    height: 4rem;
}

.img_button:hover {
    background-color: #92BADE;
}

.split {
    width: 4rem;
    height: .5rem;
    margin: .5rem 0;

    border-bottom: 2px solid black;
}
