#side_menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 4rem;
    height: 100%;
    padding: 0rem 1rem;

    background-color: rgb(85, 85, 85);
}

#side_menu img {
    width: 4rem;
    height: 4rem;
    
    padding: .5rem;
}

.img_button:hover {
    background-color: rgb(139, 139, 139);
}
