#all {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: 100%;
}

#logo {
    width: 8rem;
    height: 8rem;
    margin-bottom: 2rem;
}


/* ========== Password ========== */
::ng-deep.p-inputtext {
    width: 15rem;

    color: var(--font_2);
    background-color: var(--background);
    
    border-color: var(--header);
}

::ng-deep.p-password-panel {
    color: var(--font_2);
    background-color: var(--background);
}

::ng-deep.pi-eye::before, ::ng-deep.pi-eye-slash::before {
    color: var(--font_2);
}

label {
    color: var(--font_2);
}

#p1, #p2 {
    margin-top: 4rem;
}

::ng-deep.p-inputtext:hover, ::ng-deep.p-inputtext:enabled:focus {
    border-color: var(--header);
    box-shadow: 5px 5px 30px var(--font_2);
}

/* ========== Button ========== */
#save {
    align-self: center;
  
    margin-top: 2rem;

    background-color: var(--header);
}

.center {
    display: flex;
    justify-content: center;
}
