<div id="global">
    <h1 id="title"> INFORMATIONS</h1>

    <!--
         
        <span class="p-float-label">
            <input id="float-input" type="text" value="{{ team.picture }}" pInputText>
        </span>
    -->
    <div id="inputs">
        <div>
            <img src="../../../../../assets/images/_remove/teams/2.jpg" alt="">
        </div>

        <div class="info">
            <label for="float-input">TEAM NAME</label>
            <span class="p-float-label">
                <input id="float-input" type="text" value="{{ team.name }}" pInputText>
            </span>
        </div>

        <div class="info">
            <label for="float-input">TEAM DESCRIPTION</label>
            <span class="p-float-label">
                <textarea [rows]="5" [cols]="30" value="{{ team.desc }}" pInputTextarea
                    autoResize="autoResize"></textarea>
            </span>
        </div>
    </div>

</div>