<div>
    <h3>Picture: {{ team.picture }} </h3>
    <h3>Name: {{ team.name }} </h3>
    <h3>Description: {{ team.desc }} </h3>
</div>



<span class="p-float-label">
    <input id="float-input" type="text" placeholder="{{ team.picture }}" pInputText>
    <label for="float-input"></label>
</span>

<span class="p-float-label">
    <input id="float-input" type="text" placeholder="{{ team.name }}" pInputText>
    <label for="float-input"></label>
</span>

<span class="p-float-label">
    <textarea [rows]="5" [cols]="30" placeholder="{{ team.picture }}" pInputTextarea autoResize="autoResize"></textarea>
    <label for="float-input"></label>
</span>