<form [formGroup]="teamForm" (ngSubmit)="save()">

    <span class="p-float-label">
        <input id="float-input" type="text" formControlName="picture" pInputText>
        <label for="float-input">Logo de l'équipe</label>
    </span>

    <span class="p-float-label">
        <input id="float-input" type="text" formControlName="name" pInputText>
        <label for="float-input">Nom de l'équipe</label>
    </span>

    <span class="p-float-label">
        <textarea [rows]="10" [cols]="100" formControlName="desc" pInputTextarea autoResize="autoResize"></textarea>
        <label for="float-input">Description de l'équipe</label>
    </span>

    <button pButton pRipple type="submit" label="Créer" class="p-button-rounded p-button-info"></button>
</form>