span{
    margin-bottom: 30px;
    margin-left: 40px;
}
form:first-child{
    margin-top: 30px; 
}

button{
    margin-left: 40px;
}

input{
    background-color: #A2D0EA;
}
textarea{
    background-color: #A2D0EA;
}

label{
    color: #10516D;
}