<form [formGroup]="teamForm" (ngSubmit)="save()">
    <div id="upload">
        <app-upload-with-preview (imageEvent)="getEvent($event)"></app-upload-with-preview>
    </div>

    <span class="p-float-label">
        <input id="float-input" type="text" formControlName="name" required pInputText>
        <label for="float-input">Nom de l'équipe</label>
    </span>

    <span class="p-float-label">
        <textarea [rows]="10" formControlName="desc" pInputTextarea></textarea>
        <label for="float-input">Description de l'équipe</label>
    </span>

    <button pButton pRipple type="submit" label="Créer" class="p-button-rounded p-button-info"></button>
</form>