.salon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 2.5rem;
    padding-left: .5rem;
    margin-bottom: .2rem;

    font-family: sans-serif;
    font-size: 1.2rem;

    color: var(--black);
}

.salon:hover  {
    background-color: var(--background);
}

.salon.selected {
    background-color: var(--header);
}

/* ===== emoji ===== */
.salon .emoji {
    width: 2rem;
    height: 2rem;

    vertical-align: middle;
}

/* ===== Hide/Show params ===== */
.params {
    opacity: 0;

    padding-right: .5rem;
}

.salon:hover .params {
    opacity: 1;
}
