<div class="msg">
    <div>
        <img class="author_img" src="{{env.apiUrl}}/files/users/{{msg.sender.user.picture}}" alt="">
    </div>

    <div id="left">
        <div class="top">
            <span class="sender">{{msg.sender.user.firstname}} {{msg.sender.user.lastname}}</span>
            <span class="time">{{msg.getTimeStr()}}</span>
        </div>

        <div class="text" [contentEditable]="editable" (keydown.enter)="pressEnter($event)"
            (keydown.escape)="pressEscape($event)" [class.edit]="editable" #text></div>

        <!-- File -->
        <app-shared-file [file]="msg.file"></app-shared-file>

        <!-- Reactions -->
        <div id="emojis">
            <app-emoji *ngFor="let react of msg.reactions" [reaction]="react" [member]="member"></app-emoji>
        </div>
    </div>

    <!-- Icons on hover -->
    <div id="icons">
        <img class="msg_icon feather" src="../../../../../assets/images/feather-icons/smile.svg" alt="emoji"
            (click)="emoji()">

        <img class="msg_icon feather" src="../../../../../assets/images/feather-icons/edit-3.svg" alt="edit"
            *ngIf="msg.sender.user.id == user.id" (click)="edit()">
        <img class="msg_icon feather" src="../../../../../assets/images/feather-icons/trash-2.svg" alt="delete"
            *ngIf="msg.sender.user.id == user.id" (click)="deleteClick()">

        <img class="msg_icon feather" src="../../../../../assets/images/feather-icons/corner-up-left.svg" alt="reply"
            *ngIf="msg.sender.user.id != user.id" (click)="reply()">
        <img class="msg_icon feather" src="../../../../../assets/images/feather-icons/more-horizontal.svg" alt="other"
            *ngIf="msg.sender.user.id != user.id" (click)="other()">
    </div>
</div>