.msg {
    position: relative;

    display: flex;
    flex-direction: row;

    min-width: 25rem;
    padding: .5rem 1rem;

    font-family: sans-serif;

    background-color: var(--header);
    box-shadow: 2px 4px 3px var(--font_2);
}

.msg:hover {
    background-color: rgba(var(--_header), .9);
}

#sender_img, #sender_img2 {
    height: 4rem;
    width: 4rem;
    margin-right: 2rem;

    border-radius: 50%;
}

/* ================ msg =================== */

.top {
    display: flex;
    flex-direction: row;
    
    margin-bottom: .5rem;
}

.sender {
    margin-right: .5rem;
    
    font-weight: bold;
    
    color: var(--font_1);
}

#left {
    width: 100%;
}

.time {
    padding: .15rem 0rem;

    font-size: .7rem;
    font-weight: bold;

    color: var(--font_2);
}

.text{
    line-height: 1.4rem;
    word-wrap: break-word;

    color: var(--black);
}

/* ================ editable =================== */

.edit {
    padding: 1rem;

    background-color: var(--menu);
    border-radius: 1rem;
    outline: none;
}

/* ================ emojis =================== */

#emojis {
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-top: .5rem;
}

/* ================ icons =================== */

#icons {
    position: absolute;
    right: -1rem;
    top: -1rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
    opacity: 0;

    border-radius: 5px;

    background-color: var(--menu);
}

.msg:hover #icons {
    opacity: 1;
    box-shadow: 5px 5px 5px var(--font_2);
}

.msg_icon {
    position: relative;
    
    width: 2rem;
    height: 2rem;
    
    padding: .1rem;
    margin: .2rem;
}

/* ================ innerHTML =================== */

/* ===== style ===== */
::ng-deep.bold {
    font-weight: bold;
}

::ng-deep.under {
    text-decoration: underline;
}

::ng-deep.strike {
    text-decoration: line-through;
}

::ng-deep.italic {
    font-style: italic;
}

/* ===== bloc ===== */

::ng-deep.md_bloc, ::ng-deep.md_bloc_inline {
    padding: 0 .5rem;
    margin: .5rem 0;
    
    border-radius: .2rem;
    
    font-family: monospace;
    font-size: 1rem;
    
    color: var(--font_1);
    background-color: var(--font_2);
}

::ng-deep.md_bloc {
    display: block;
    
    padding: .25rem .5rem;
}

/* ===== emoji ===== */
.msg ::ng-deep.inline_emoji {
    width: 1.5rem;
    height: 1.5rem;
    
    vertical-align: middle;
    filter: drop-shadow(3px 3px 3px var(--font_2));
}

/* ================ Profile =================== */

#profile_hover {
    position: absolute;
    left: -0.5rem;
    top: -0.5rem;
    
    display: none;
    flex-direction: column;
    align-items: flex-start;
   
    z-index: 3;

    width: 20rem;
    height:8rem;
    
    font-weight: bold;

    color: var(--background);
    background-color: rgb(56 88 128);
    
    /* border: 4px solid var(--font_2); */
    
    border-radius: 1rem;
}

#sender_img2 {
    margin-top: 1rem;
    margin-left: 1.5rem;
}

#profile:hover #profile_hover{
    display: flex;
}

#profile_top {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-bottom: 1rem;
}

#profile_bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-weight: normal;
}

#mail{
    margin-left: 1rem;
    margin-right: 1rem;
}
