.salon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: .5rem;
    
    font-family: sans-serif;
    font-size: 1.2rem;
}

.salon:hover  {
    background-color: #92BADE;
}

.salon.selected {
    background-color: #4D729E;
}

/* ===== Hide/Show params ===== */

.params {
    opacity: 0;
}

.salon:hover .params {
    opacity: 1;
}
