<div>
    <p-listbox (onChange)="refreshUser()" [(ngModel)]="selectedTeam" [options]="teams" [metaKeySelection]="false"
        [checkbox]="true" [filter]="true" optionLabel="name">
        <ng-template let-team pTemplate="team">
            <div class="team-item">
                <div>{{team.name}}</div>
            </div>
        </ng-template>
    </p-listbox>

    <p-listbox [(ngModel)]="selectedUser" [options]="users" [metaKeySelection]="false" [checkbox]="true" [filter]="true"
        optionLabel="lastname" [multiple]="true">
        <ng-template let-user pTemplate="user">
            <div class="user-item">
                <div>{{user.firstname}} {{user.lastname}}</div>
            </div>
        </ng-template>
    </p-listbox>

    <button pButton pRipple type="button" (click)="save()" label="Ajouter à l'équipe"
        class="p-button-rounded p-button-info"></button>
</div>