<div>

    <p-listbox (onChange)="refreshUser()" [(ngModel)]="selectedTeam" [options]="teams" [metaKeySelection]="false"
        [checkbox]="true" [filter]="true" optionLabel="name" [listStyle]="{'max-height':'250px'}"
        [style]="{'width':'15rem'}">
        <ng-template let-team pTemplate="team">
            <div class="team-item">
                <div>{{team.name}}</div>
            </div>
        </ng-template>
    </p-listbox>

    <p-listbox [(ngModel)]="selectedUser" [options]="users" [metaKeySelection]="false" [checkbox]="true" [filter]="true"
        optionLabel="search" [multiple]="true" [listStyle]="{'max-height':'250px'}" [style]="{'width':'15rem'}">
        <ng-template let-user pTemplate="user">
            <div class="user-item">
                <div>{{user.firstname}} {{user.lastname}}</div>
            </div>
        </ng-template>
    </p-listbox>

    <button type="button" (click)="save()">L'ajouter à l'équipe</button>
</div>