::ng-deep .p-listbox .p-listbox-header {
    padding: 0.5rem 1rem;
    border-bottom: 0 none;
    color: var(--font_2);
    background: var(--background);
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

::ng-deep .p-inputtext{
    color: var(--font_2);
    background: var(--background);
    border: 1px solid #487bad;
}

::ng-deep .p-listbox {
    background: var(--background);
    color: var(--font_2);
    border: 1px solid var(--white);
    border-radius: 3px;
    margin: 40px;
    width: 90%;
}

::ng-deep .p-listbox:hover{
    box-shadow: 12px 12px 2px 1px var(--font_2)
}

button{
    margin-left: 80%;
}