<form [formGroup]="form" (ngSubmit)="save()">

    <p-listbox  [options]="users" [metaKeySelection]="false" [checkbox]="true"
    [filter]="true" [multiple]="true" optionLabel="lastname" [listStyle]="{'max-height':'250px'}" [style]="{'width':'15rem'}">
    <ng-template let-user pTemplate="user">
        <div class="user-item">
        <div>{{user.firstname}} {{user.lastname}}</div>
        </div>
    </ng-template>
    </p-listbox>

    <label>Choisir un Utilisateur:</label>

    <select formControlName="userForm"  multiple=true>
        <option *ngFor="let user of users" [value]="user">{{user.firstname}} {{user.lastname}}</option>
    </select>

    <label>Choisir une Equipe:</label>

    <select formControlName="teamForm"  multiple=true>
        <option *ngFor="let team of teams" [value]="team">{{team.name}}</option>
    </select>

    <button type="submit">Save</button>
</form>

