<div id="col">
    <div id="team_logo_center">
        <img id="team_logo" src="../../../../assets/images/_remove/teams/{{team.picture}}" alt="">
    </div>

    <div id="team_name_line">
        <div id="lol"></div>
        <div id="team_name">{{team.name}}</div>
        <div>
            <img id="team_param" class="feather" src="../../../../../assets/images/feather-icons/sliders.svg"
                alt="teamParams" routerLink="/params/team/{{team.id}}">
        </div>
    </div>

    <div id="salons">
        <app-salon-button *ngFor="let salon of salons" [salon]="salon" [salonId]="salonId">
        </app-salon-button>
    </div>
</div>