#col {
    display: flex;
    flex-direction: column;
    
    width: 16rem;
    height: 100%;
    max-height: 100%;
    padding: 0 1rem;
    
    background-color: var(--menu);
}

/* border-top */
#col::before {
    position: relative;
    content: "";

    left: -1rem;
    top: 0;

    width: calc(100% + 2rem);
    height: 2px;

    background-color: rgba(var(--_font_2), .6);
}

#team_logo_center {
    text-align: center;

    margin-top: 2rem;
}

#team_logo {
    width: 8rem;
    height: 8rem;

    box-shadow: 5px 5px 5px var(--font_2);
}

#team_name_line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    margin-top: 1rem;
    margin-bottom: 2rem;

    color: var(--black);
}

#lol {
    width: 1.5rem;
}

#team_name {
    text-align: center;
    
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

#team_param {
    width: 1.5rem;
    height: 1.5rem;

    opacity: 0;
}

#team_name_line:hover #team_param {
    opacity: 1;
}

#salons {
    overflow-y: auto;
}

/* ========= Scrollbar ========= */
#salons::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track{
    background-color: var(--menu);
}

#salons::-webkit-scrollbar-thumb {
    background: var(--header);
    border: 2px solid var(--menu);
    border-radius: 20px;
}
