.all {
    position: relative;
    display: flex;
}

.react {
    position: relative;
    display: flex;
    align-items: center;

    padding: 0 .5rem;
    margin-right: .2rem;
    margin-bottom: .2rem;
    
    border-radius: .7rem;

    font-weight: bold;

    color: var(--font_2);
    background-color: var(--menu);
    border: 1px solid var(--menu);/* same size than .on */
}

/* User has used this emoji */
.react.on {
    box-shadow: inset 0px 0px 0px 1px var(--font_2);
    border-color: var(--font_2);
}

.react:hover {
    background-color: var(--background);
}

.react .emoji {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .1rem;
}

/* ========== tooltip ========== */

.react_tooltip {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);

    z-index: 10;
    
    opacity: 0;
    display: flex;
    align-items: center;
    
    width: 15rem;
    padding: .2rem .5rem;
    
    font-weight: normal;
    font-size: .8rem;
    
    border-radius: .2rem;
    
    color: var(--font_1);
    background-color: var(--font_2);
}

.react:hover ~ .react_tooltip {
    opacity: 1;
    transition: opacity 0s .5s;
}

/* Triangle */
.react_tooltip::after {
    position: absolute;
    bottom: -1rem;
    left: calc(50% - 1rem);

    z-index: 11;

    content: "";
    
    border-right: 1rem solid transparent;
    border-left: 1rem solid transparent;
    border-top: 1rem solid var(--font_2);
}

.tooltip_emoji {
    width: 3rem;
    height: 3rem;
    margin-right: .5rem;
}

.all .bold {
    font-weight: bold;
}
