form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

#profil {
    display: flex;
}

.profil_inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.profil_inputs span{
    margin:4.5%;
}
.mail_pwd{
    display: flex;
    flex-direction: column;
}

.mail_pwd span{
    margin: 10%;
}
.mail_pwd span input{
    width: 15rem;
}

::ng-deep.p-inputtext {
    width: 15rem;

    color: var(--font_2);
    background-color: var(--background);
    
    border-color: var(--header);
}

input:hover {
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2)
}

label {
    color: var(--font_2);
}

#button {
    width: 10%;
    background-color: var(--header);
}
