span{
    margin: 35px;
}
div{
    display: flex;
    flex-wrap: wrap;
}
input{
    background-color: #A2D0EA;
}

input:hover{
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2)
}

label{
    color: #10516D;
}
button{
    margin: 35px;
}

