#row {
    display: flex;
    flex-direction: row;

    height: 5rem;

    background-color: var(--header);
}

#logo {
    width: 4rem;
    height: 4rem;
    
    margin: .5rem;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    font-family: sans-serif;
    font-weight: bold;

    color: var(--black);
}
