#col {
    display: flex;
    flex-direction: row;

    background-color: #4D729E;
}

#logo {
    width: 4rem;
    height: 4rem;
    
    padding: .5rem;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    font-family: sans-serif;
    font-weight: bold;
}