.all {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center ;
    background-color: #6595B8;
    height: 100%;
    width: 100%; 
    overflow-y: auto;
  }
  
  p{
    color: black;
    font-size: 10px;
    text-align: center;
    background-color: #6595B8;
  }

img {
    width: 100%;
    height: 100%;
}
  
.image{
    width: 100px;
    height: 100px;
    border: 3px;
    margin: 0%; 
    padding: 15px 25px; 
    max-width: 100%;
} 


