.all {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%; 

  overflow-y: auto;
  
  background-color: var(--menu);
}

.team {
  width: 150px;
  height: 150px;

  max-width: 100%;
  margin: 0%; 
  padding: 15px 25px; 

  text-decoration: none;

  border: 3px;
} 

.team:visited {
  color: var(--font_2);
}

.team:hover {
  background-color: var(--background);
}

p {
  text-align: center;
  
  font-size: 20px;

  color: var(--font_2);
  background-color: var(--menu);
}

img {
  width: 100%;
  height: 100%;
}
