#row {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;
}

/* Hide salons, only display the class "display" */
app-msg-thread {
    display: none;
    
    width: 100%;
}

.display {
    display: flex;
}
