#row {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;
}

#main {
    display: flex;
    flex-direction: column;
 
    width: 100%;
    height: 100%;

    background-color: #92BADE;
}

.center {
    width: 90%;
}

.day {
    display: flex;
    flex-direction: column;
    align-items: center;
}

app-line-date {
    margin: .5rem 0;
}