#row {
    display: flex;
    flex-direction: row;

    min-width: 100%;
    height: 100%;

    background-color: red;
}

.main {
    min-width: 100%;
    height: 100%;

    background-color: #92BADE;
}
