<ng-template [ngIf]="user == undefined" [ngIfThen]="login" [ngIfElse]="namePict">
</ng-template>

<ng-template #login>
    <a id="login_all" routerLink="/login">
        <img src="../../../../assets/images/feather-icons/log-in.svg" alt="login" id="login_img">
        <div id="login">Connexion</div>
    </a>
</ng-template>

<ng-template #namePict>
    <div id="profil">
        <div id="row">
            <div>
                <img id="profil_img" src="{{env.apiUrl}}/files/users/{{user.picture}}" alt="profil">
            </div>
            <div id="profil_name">{{user.firstname}} {{user.lastname}}</div>
            <div>
                <img id="button_menu" class="feather" src="../../../../assets/images/feather-icons/menu.svg" alt="menu"
                    (mousedown)="hideMenu = !hideMenu">
            </div>
        </div>

        <div id="profil_menu" [class.visible]="!hideMenu">
            <a class="menu_item" (mousedown)="userSettings()">
                <img src="../../../../assets/images/feather-icons/settings.svg" alt="settings" class="menu_item_img">
                <div class="item_name">
                    Paramètres
                </div>
            </a>

            <div class="menu_item" (mousedown)="logout()">
                <img src="../../../../assets/images/feather-icons/log-out.svg" alt="logout" class="menu_item_img">
                <div class="item_name">
                    Déconnexion
                </div>
            </div>
        </div>
    </div>
</ng-template>