<form [formGroup]="msgGroup">
    <div id="input_msg" formControlName="msg" placeholder="Envoyer un message dans Général"
        (keydown.enter)="pressEnter($event)" contenteditable></div>

    <img id="plus" class="icon feather" src="../../../../../assets/images/feather-icons/plus-circle.svg" alt="joinFile"
        (click)="buttonJoinFile()">
    <img id="emoji" class="icon feather" src="../../../../../assets/images/feather-icons/smile.svg" alt="addEmoji"
        (click)="buttonAddEmoji()">
</form>