app-msg-writer {
    background-color: aquamarine;
}

#all {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 3rem;

    margin: 1rem 0;
}

form {
    display: block; 
    align-items: center;

    width: 100%;
    height: 100%;
}

#input_msg {
    display: block; 
    
    width: 90%;
    height: 100%;
    
    margin: 0;
    padding: 0;

    text-indent: 3rem;
    
    font-weight: bold;
    font-size: 1.2rem;

    color: #84C9E7;
    background-color:#4D729E;
    
    border: none;
}

#input_msg::placeholder {
    text-indent: 3rem;

    font-weight: bold;
    font-size: 1.2rem;

    color: #84C9E7;
}

#plus {
    position: relative; 
    left: 2.5rem;

    width: 2rem;
    height: 2rem;
}
