form {
    position: relative;
    
    width: 90%;
    height: 100%;
    
    margin: 1rem auto;
}

#input_msg {
    width: 100%;
    height: 100%;
    
    text-indent: 3rem;
    
    font-weight: bold;
    font-size: 1.2rem;

    color: #84C9E7;
    background-color:#4D729E;
    
    border: none;
}

#input_msg::placeholder {
    color: #84C9E7;
}

#plus {
    position: absolute;
    
    top: .5rem;
    left: .5rem;

    width: 2rem;
    height: 2rem;
}
