<form [formGroup]="msgGroup">
    <textarea id="input_msg" formControlName="msg" placeholder="Envoyer un message dans Général" [rows]="1"
        pInputTextarea autoResize="autoResize" (keydown.enter)="pressEnter($event)"></textarea>

    <img id="plus" class="icon" src="../../../../../assets/images/icons/msg/plus.png" alt="joinFile"
        (click)="buttonJoinFile()">
    <img id="emoji" class="icon" src="../../../../../assets/images/icons/msg/emoji.png" alt="addEmoji"
        (click)="buttonAddEmoji()">
</form>