<div id="all">
    <span id="input_msg" (input)="onInput($event.target.innerHTML)" data-placeholder="Envoyer un message dans Général"
        (keydown.enter)="pressEnter($event)" contenteditable></span>

    <img id="plus" class="icon feather" src="../../../../../assets/images/feather-icons/plus-circle.svg" alt="joinFile"
        (click)="buttonJoinFile()">
    <img id="emoji" class="icon feather" src="../../../../../assets/images/feather-icons/smile.svg" alt="addEmoji"
        (click)="buttonAddEmoji()">
</div>