form {
    position: relative;
    
    width: 90%;
    height: 100%;
    
    margin: 1rem auto;
}

#input_msg {
    width: 100%;
    height: 100%;
    
    text-indent: 3rem;
    
    font-weight: bold;
    font-size: 1.2rem;

    color: var(--font_1);
    background-color: var(--header);
    
    border: none;
}

#input_msg::placeholder {
    color: var(--font_1);
}

#plus {
    position: absolute;
    
    top: .5rem;
    left: .5rem;

    width: 2rem;
    height: 2rem;
}
