form {
    position: relative;
    
    width: 90%;
    height: 100%;
    
    margin: .75rem auto;
}

#input_msg {
    width: 100%;
    min-height: 3rem;
    max-height: 20rem;
    padding: .75rem 3rem;
    
    overflow-y: auto !important;


    font-weight: bold;
    font-size: 1.2rem;

    color: var(--font_1);
    background-color: var(--header);
    
    border: none;
}

#input_msg::placeholder {
    color: var(--font_1);
}

/* ========= Scrollbar ========= */
#input_msg::-webkit-scrollbar {
    width: 5px;
}

#input_msg::-webkit-scrollbar-thumb {
    background: var(--font_2); 
    border-radius: 20px;
}

/* ========= Icons ========= */
.icon {
    position: absolute;
    
    top: .5rem;

    width: 2rem;
    height: 2rem;
}

#plus {
    left: .5rem;
}

#emoji {
    right: .5rem;
}
