<div id="side_menu">
    <div class="img_div">
        <img id="img_msg" class="img_button" src="../../../assets/images/icons/msg.png" alt="msg">
    </div>

    <div class="img_div">
        <img id="img_teams" class="img_button" src="../../../assets/images/icons/teams.png" alt="team"
            routerLink="/teamMessages/1/1">
    </div>

    <div class="split"></div>

    <div class="img_div">
        <img id="img_files" class="img_button" src="../../../assets/images/icons/files.png" alt="files">
    </div>

    <div class="img_div">
        <img id="img_files" class="img_button" src="../../../assets/images/icons/agenda.png" alt="files">
    </div>

    <div class="img_div">
        <img id="img_files" class="img_button" src="../../../assets/images/icons/qcm.png" alt="files">
    </div>

    <div class="split"></div>

    <div class="img_div">
        <img id="img_files" class="img_button" src="../../../assets/images/icons/admin.png" alt="files"
            routerLink="/admin">
    </div>
</div>