#side_menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: auto;
    overflow-x: hidden;

    width: 5rem;
    height: 100%;
    padding: 0 .5rem;

    background-color: var(--header);
}

.img_div {
    margin-top: .2rem;
}

.img_button {
    width: 3.5rem;
    height: 3.5rem;
    padding: .25rem;

    border-radius: 1rem;
}

.split {
    width: 4rem;
    height: .5rem;
    margin: .5rem 0;

    border-bottom: 2px solid var(--black);
}

/* ========= Scrollbar ========= */
::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track{
    background-color: var(--header);
}

::-webkit-scrollbar-thumb {
    background: var(--font_2);
    border: 2px solid var(--header);
    border-radius: 20px;
}
