#all {
    position: relative;
    
    width: 90%;
    height: 100%;
    
    margin: 0 auto;
}

#input_msg {
    display: block;
    
    width: 100%;
    min-height: 3rem;
    max-height: 20rem;
    padding: .5rem 3rem;
    
    overflow-y: auto !important;
    
    font-weight: bold;
    font-size: 1.2rem;
    
    color: var(--font_1);
    background-color: var(--header);
    
    border: solid .2rem var(--font_2);
    outline: none;

    box-shadow: 5px 3px 5px var(--font_2);
}


#input_msg:empty::before {
    display: block;
    content: attr(data-placeholder);
    
    color: var(--font_1);
}

#input_msg::placeholder {
    color: var(--font_1);
}

/* ========= Scrollbar ========= */
#input_msg::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track{
    background-color: var(--header);
}

#input_msg::-webkit-scrollbar-thumb {
    background: var(--font_2);
    border: 2px solid var(--header);
    border-radius: 20px;
}

/* ========= Icons ========= */
.icon {
    position: absolute;
    
    top: .5rem;
    
    width: 2rem;
    height: 2rem;
}

#plus {
    left: .5rem;
}

#emoji {
    right: .5rem;
}

/* ========= File ========= */
#file_name {
    position: absolute;
    bottom: 2.5rem;

    display: flex;
    align-items: center;

    z-index: -1;
    
    padding: .5rem 1rem;
    
    font-weight: bold;
    
    color: var(--font_1);
    background-color: var(--font_2);
    
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#display_img {
    max-width: 2rem;
    max-height: 2rem;

    margin-right: .5rem;
}

#display_img img {
    max-width: 2rem;
    max-height: 2rem;
}

#remove_file {
    display: inline;
    
    margin-left: .5rem;
}

#remove_file:hover {
    filter: drop-shadow(1px 1px 2px var(--font_1));
}

#input_file { 
    display: none;
}
