<div id="all">
    <img id="sender_img" src="{{env.apiUrl}}/files/users/{{member.user.picture}}" alt="">

    <div id="card" *ngIf="show">
        <img id="sender_img2" src="{{env.apiUrl}}/files/users/{{member.user.picture}}" alt="">

        <div id="profile_col">
            <div id="profile_name">
                {{member.user.firstname}} {{member.user.lastname}}
            </div>

            <div id="profile_icons">
                <img src="../../../../assets/images/feather-icons/mail.svg" alt="privateMsg" (click)="privateMsg()"
                    class="icon feather">
                <img src="../../../../assets/images/feather-icons/video.svg" alt="video" (click)="video()"
                    class="icon feather">
            </div>
        </div>
    </div>
</div>