.react {
    position: relative;
    display: flex;
    align-items: center;

    padding: 0 .5rem;
    margin-right: .2rem;
    margin-bottom: .2rem;
    
    border-radius: .7rem;

    font-weight: bold;

    color: var(--font_2);
    background-color: var(--menu);
    border: 1px solid var(--menu);/* same size than .on */
}

/* User has used this emoji */
.react.on {
    box-shadow: inset 0px 0px 0px 1px var(--font_2);
    border-color: var(--font_2);
}

.react:hover {
    background-color: var(--background);
}

.react .emoji {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .1rem;
}

/* ========== tooltip ========== */

.react_tooltip {
    position: absolute;
    bottom: 2.7rem;
    left: -6rem;

    z-index: 10;
    
    display: none;
    align-items: center;

    width: 15rem;
    padding: .5rem;
    
    font-weight: normal;
    font-size: .8rem;

    border-radius: .2rem;
    
    color: var(--font_1);
    background-color: var(--font_2);
}

.react:hover .react_tooltip {
    display: flex;
}

/* Triangle */
.react_tooltip::after {
    position: absolute;
    bottom: -1rem;
    left: 6.5rem;

    z-index: 11;

    content: "";
    
    border-right: 1rem solid transparent;
    border-left: 1rem solid transparent;
    border-top: 1rem solid var(--font_2);
}

.tooltip_emoji {
    display: none;

    width: 3rem;
    height: 3rem;
    margin-right: .5rem;
}

.react:hover .tooltip_emoji {
    display: block;
}

.react .bold {
    font-weight: bold;
}
