#all {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:center ;
  background-color: #6595B8;
  height: 100%;
} 

form{
    display:flex;
    flex-direction: column;
    align-items: center;
    color: springgreen;
    background-color: #6595B8;
    height: 100%;
    width: 100%;
}  

#label {
  margin: 3px;
}

input{
    background-color:white;
    border-color: #6595B8;
    color: black;
    font-size: 20px;
}

button {
    background-color: mediumvioletred;
    color: white;
    border-style: solid 3px;
    border-color: turquoise;
    margin: 10px;
    font-size: 20px;
  }
  
  button:hover { 
    background-color: tomato;
    color: white;
    border-style: solid 3px;
    border-color: wheat;
  }

