<div id="all">

    <form [formGroup]="userProfile" (ngSubmit)="onSubmit()">
        <img src="../../../assets/images/logo.png" alt="">
        <div>
            <span id="login" class="p-float-label">
                <input id="float-input" type="text" formControlName="email" required pInputText>
                <label for="float-input"> Login </label>
            </span>

            <span id="pwd" class="p-float-label">
                <input id="float-input" type="password" formControlName="password" required pInputText>
                <label for="float-input">Mot de passe</label>
            </span>

            <button pButton pRipple type="submit" label="Envoyer" class="p-button-rounded p-button-info"></button>
        </div>
    </form>

</div>
<!-- <div>
        <form [formGroup]="userProfile" (ngSubmit)="onSubmit()">

            <label id="label">
            
                <input type="text" formControlName="login" id="login" placeholder="Taper votre login ICI" size="28"
                    maxlength="26">
            </label>

            <label id="label">
        
                <input type="password" formControlName="password" id="password"
                    placeholder="Taper votre mot de passe ICI" size="28" maxlength="22">
            </label>

            <button type="submit" id="bouton"> Envoyer </button>

        </form>
    </div>
</div> -->