<div id="all">
    <img src="../../../assets/images/logo.png" alt="">
    <div>
        <form [formGroup]="userProfile" (ngSubmit)="onSubmit()">

            <label id="label">
                <!-- Login : -->
                <input type="text" formControlName="login" id="login" placeholder="Taper votre login ICI" size="28"
                    maxlength="20">
            </label>

            <label id="label">
                <!-- Mot de passe : -->
                <input type="password" formControlName="password" id="password"
                    placeholder="Taper votre mot de passe ICI" size="28" maxlength="20">
            </label>

            <button type="submit" id="bouton"> Envoyer </button>

        </form>
    </div>
</div>