<p-panel *ngIf="log.type == 0" class="create" [toggleable]="true" collapsed=false>
    <ng-template pTemplate="header">
        <div id="type">
            <img src="../../../../../../../assets/images/feather-icons/plus-square.svg" alt="logo d'un plus">
            <div class="circleExample" style="background-color: green;"> </div>
        </div>
        <div class="profilContainer">
            <img class="profil" src="../../../../../assets/images/_remove/users/{{user.picture}}" alt="">
            <p>{{user.firstname}} {{user.lastname}} </p>
            <p>{{log.date.getDate()}}/{{log.date.getMonth()}}/{{log.date.getFullYear()}}</p>
        </div>
    </ng-template>

    <ng-template pTemplate="icons">
        <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu>
    </ng-template>
    <p>{{log.desc}}</p>
</p-panel>

<p-panel *ngIf="log.type == 1" class="pin" [toggleable]="true" collapsed=false>
    <ng-template pTemplate="header">
        <div id="type">
            <img src="../../../../../../../assets/images/feather-icons/corner-down-right.svg" alt="logo d'une fleche">
            <div class="circleExample" style="background-color: #FAFC63;"> </div>
        </div>
        <div class="profilContainer">
            <img class="profil" src="../../../../../assets/images/_remove/users/{{user.picture}}" alt="">
            <p>{{user.firstname}} {{user.lastname}} </p>
            <p>{{log.date.getDate()}}/{{log.date.getMonth()}}/{{log.date.getFullYear()}}</p>
        </div>
    </ng-template>

    <ng-template pTemplate="icons">
        <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu>
    </ng-template>
    <p>{{log.desc}}</p>
</p-panel>

<p-panel *ngIf="log.type == 2" class="supp" [toggleable]="true" collapsed=false>
    <ng-template pTemplate="header">
        <div id="type">
            <img src="../../../../../../../assets/images/feather-icons/x-square.svg" alt="logo de suppression">
            <div class="circleExample" style="background-color: red;"> </div>
        </div>
        <div class="profilContainer">
            <img class="profil" src="../../../../../assets/images/_remove/users/{{user.picture}}" alt="">
            <p>{{user.firstname}} {{user.lastname}} </p>
            <p>{{log.date.getDate()}}/{{log.date.getMonth()}}/{{log.date.getFullYear()}}</p>
        </div>
    </ng-template>

    <ng-template pTemplate="icons">
        <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu>
    </ng-template>
    <p>{{log.desc}}</p>
</p-panel>