section{
    display: flex;
    height: 100%;
    width: 100%;
}
#content{
    width: 100%;
    height: 100%;
    background-color: #6595B8;
    overflow-y: auto;
}
#sidebar{
    width: 20rem;
    height: 100%;
}

