#global {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    margin-bottom: 15px;

   
  }

#title {
    justify-content: center;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100px;
    color: var(--font_1);
}

#inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


img {
	width: 20px;
	height: 20px;
    margin-bottom: 30px;
}

.info{
    display: flex;
    flex-direction:row;
   
    margin-right: 40px;
    
}

span{
    margin-bottom: 30px;
    
}

button{
    margin-left: 40px;
}

input{
    background-color: var(--background);
}
textarea{
    background-color:var(--background);
}

label{
    margin-right: 40px;
    font-size: large;
    color: var(--font_1);
}

.feather{
    height:20px;
    weight:20px;
    margin-right: 50px;
}

.roles{
    margin: 5px;
    display: flex;
    padding: 5px;
    justify-content: space-around;
}
.roles:hover{
    background-color: var(--menu);
}

.roleName{
    margin-left: 15px;
    margin-top: 5px;
}
.circle{
    margin-top: 6px;
    margin-bottom: 6px;
}
.p-button-raised p-button-rounded{
    background-color: green;
}

.nameMember{
    flex-direction: row-reverse;
    padding: 10px;
    justify-content: space-around;
    text-align: right;
}


