<p-panel class="create" [toggleable]="true" collapsed=false>
    <ng-template pTemplate="header">
        <div id="type">
            <img class="feather" src="../../../../../../../assets/images/feather-icons/smile.svg"
                alt="logo d'un smiley">
            <div class="circleExample" *ngIf="log.type == 0" style="background-color: green;"> </div>
            <div class="circleExample" *ngIf="log.type == 1" style="background-color: orange;"> </div>
            <div class="circleExample" *ngIf="log.type == 2" style="background-color: red;"> </div>
        </div>
        <div class="teamContainer" *ngIf="teamId == 0 && team">
            <img src="../../../../../../../assets/images/_remove/teams/{{team.picture}}" alt="image de l'equipe">
            <p>{{team.name}}</p>
        </div>
        <div class="profilContainer">
            <img class="profil" src="../../../../../assets/images/_remove/users/{{user.picture}}" alt="">
            <p>{{user.firstname}} {{user.lastname}} </p>
            <p>{{ddmmyyyy(log.date)}}</p>
        </div>
    </ng-template>

    <ng-template pTemplate="icons">
        <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu>
    </ng-template>
    <p>{{log.desc}}</p>
</p-panel>