img{
    border-radius: 40%;
    height: 40px;
}
.barre{
    border:solid 2px rgba(0, 0, 255, .2);
    width: 100%;
}
section{
    display: flex;
    height: 100%;
    width: 100%;
}
/*========================= Menu permission========================= */
.permissionMenu{
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    height: 100%;
    width: 20rem;
    overflow-y: auto;
}
.permissionRoleName{
    margin:10px;
}
.permissionUser{
    margin: 10px;
    display: flex;
}
.permissionUser p{
    margin-top: 5%;
    margin-left: 5%;
}
/*=======================================Permission==========================*/
.permission{
    margin: 5%;
    width: 100%;
    overflow-y: auto;
}

/* ========= Scrollbar ========= */
.permission::-webkit-scrollbar {
    width: 16px;
}

.permission::-webkit-scrollbar-track{
    background: #6595b8; 
}

.permission::-webkit-scrollbar-thumb {
    background: var(--background); 

    border: solid 4px var(--header);
    
    border-radius: 200px;
}