<section>
    <div class="permissionMenu">
        <p-dialog header="Title" [(visible)]="display">
            <h5>Membres</h5>
            <p-dropdown [options]="members" [(ngModel)]="selectedMembre" placeholder="Selectionne un membre"
                optionLabel="user.firstname" [showClear]="true"></p-dropdown>
            <h5>Roles</h5>
            <p-dropdown [options]="roles" [(ngModel)]="selectedRole" placeholder="Selecttionne un role"
                optionLabel="name" [showClear]="true"></p-dropdown>
        </p-dialog>

        <button type="button" (click)="showDialog()" label="Show"> CLIQUE ICI</button>
        <div *ngFor="let permission of permissionsRoles">
            <div class="permissionRoleName" (click)="choosePermission(permission.id)">
                {{permission.role.name}}
            </div>
        </div>
        <div class="barre"></div>
        <div *ngFor="let permission of permissionsMembers">
            <div class="permissionUser" (click)="choosePermission(permission.id)">
                <img src=" ../../../../../assets/images/_remove/users/{{permission.member.user.picture}}" alt="">
                <p>
                    {{permission.member.user.firstname}} {{permission.member.user.lastname}}
                </p>
            </div>
        </div>
    </div>
    <div class="permission" *ngIf="permissionChoosen">
        <app-rights *ngFor="let right of permissionChoosen.commonRights" [right]="right">
        </app-rights>
        <button pButton pRipple type="button" (click)="update()" label="Sauvegarder"
            class="p-button-rounded p-button-info"></button>
    </div>
</section>