.msg {
    display: flex;
    flex-direction: row;

    min-width: 25rem;
    padding: .5rem 1rem;

    font-family: sans-serif;

    background-color: var(--header);
}

.msg:hover {
    /* TODO only background must be brighter */
    filter: brightness(115%);
}

.author_img {
    height: 4rem;
    width: 4rem;
    margin-right: 2rem;

    border-radius: 50%;
}

.text {
    display: flex;
    flex-direction: column;

}

.top {
    display: flex;
    flex-direction: row;
    
    margin-bottom: .5rem;
}

.sender {
    margin-right: .5rem;
    
    font-weight: bold;
    
    color: var(--font_1);
}

.time {
    font-size: .7rem;
    padding: .15rem 0rem;
}

.content {
    color:black;
}
