.msg {
    position: relative;

    display: flex;
    flex-direction: row;

    min-width: 25rem;
    padding: .5rem 1rem;

    font-family: sans-serif;

    background-color: var(--header);
}

.msg:hover {
    /* TODO only background must be brighter */
    filter: brightness(115%);
}

.author_img {
    height: 4rem;
    width: 4rem;
    margin-right: 2rem;

    border-radius: 50%;
}

/* ================ msg =================== */

.top {
    display: flex;
    flex-direction: row;
    
    margin-bottom: .5rem;
}

.sender {
    margin-right: .5rem;
    
    font-weight: bold;
    
    color: var(--font_1);
}

.time {
    font-size: .7rem;
    padding: .15rem 0rem;
}

.content {
    color:black;
}
.text{
    line-height: 1.4rem;
}

/* ================ icons =================== */

#icons {
    position: absolute;
    right: -1rem;
    top: -1rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
    opacity: 0;

    border-radius: 5px;

    background-color: var(--font_2);
}

.msg:hover #icons {
    opacity: 1;
}

.msg_icon {
    position: relative;
    
    width: 2rem;
    height: 2rem;
    
    padding: .2rem;
    margin: .2rem;

    border-radius: 5px;
}

.msg_icon:hover {
    border: 2px solid var(--menu);
}

/* ================ innerHTML =================== */

.bold {
    font-weight: bold;
}

.under {
    text-decoration: underline;
}

.strike {
    text-decoration: line-through;
}

.italic {
    font-style: italic;
}

.emoji {
    width: 1.5rem;
    height: 1.5rem;
    
    vertical-align: middle;
}
