<div class="msg">
    <div>
        <img class="author_img" src="../../../../../assets/images/_remove/users/{{msg.sender.picture}}" alt="">
    </div>
    <div class="content">
        <div class="top">
            <span class="sender">{{msg.sender.firstname}} {{msg.sender.lastname}}</span>
            <span class="time">{{msg.getTimeStr()}}</span>
        </div>

        <div class="text" [innerHtml]="msg.html"></div>

        <div id="emojis">
            <app-emoji *ngFor="let emoji of emojis" [emoji]="emoji"></app-emoji>
        </div>
    </div>

    <div id="icons">
        <img class="msg_icon" src="../../../../../assets/images/icons/msg/emojiReact.png" alt="emoji" (click)="emoji()">

        <img class="msg_icon" src="../../../../../assets/images/icons/msg/edit.png" alt="edit"
            *ngIf="msg.sender.id == 1" (click)="edit()">
        <img class="msg_icon" src="../../../../../assets/images/icons/msg/delete.png" alt="delete"
            *ngIf="msg.sender.id == 1" (click)="delete()">

        <img class="msg_icon" src="../../../../../assets/images/icons/msg/reply.png" alt="reply"
            *ngIf="msg.sender.id != 1" (click)="reply()">
        <img class="msg_icon" src="../../../../../assets/images/icons/msg/other.png" alt="other"
            *ngIf="msg.sender.id != 1" (click)="other()">
    </div>
</div>