.msg {
    display: flex;
    flex-direction: row;

    min-width: 25rem;
    padding: .5rem 1rem;

    font-family: sans-serif;

    background-color: #4D729E;
}

.msg:hover {
    background-color: #7295BF;
}

.author_img {
    height: 4rem;
    width: 4rem;
    margin-right: 2rem;

    border-radius: 50%;
}

.text {
    display: flex;
    flex-direction: column;

}

.top {
    display: flex;
    flex-direction: row;
    
    margin-bottom: .5rem;
}

.sender {
    margin-right: .5rem;
    
    font-weight: bold;
    
    color: #84C9E7;
}

.time {
    font-size: .7rem;
    padding: .15rem 0rem;
}

.content {
    color:black;
}
