#all {
    overflow-y: auto; 
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    background-color: #6595B8;
    height: 100%;
  } 
  
  form{
    display:flex;
    flex-direction: column;
    align-items: center;
    color: springgreen;
    background-color: #6595B8;
    height: 100%;
    width: 100%;
  }  
  
  input{
    background-color:white;
    border-color: #6595B8;
    color: black;
    font-size: 15px;
  }
  
  span{
    margin: 30px;
  }
  
  input{
    background-color: #A2D0EA;
  }
  
  input:hover{
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2)
  }
  
  label{
    color: #10516D;
  }
  button{
    margin: 10px;
  }