#all {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;

    height: 100%;
    
    overflow-y: auto; 
    
    background-color: var(--menu);
} 

#logo {
    width: 8rem;
    height: 8rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

form {
    display:flex;
    flex-direction: column;
    align-items: center;
    
    height: 100%;
    width: 100%;
}  

/* ========== Inputs ========== */
input {
    font-size: 15px;
    
    color: var(--font_2);
    background-color: var(--background);
    
    border-color: var(--header);
}

.p-float-label {
    margin: 15px;
}

input:hover {
    border-color: var(--header);
    box-shadow: 5px 5px 30px var(--font_2);
}

label {
    color: var(--font_2);
}

::ng-deep.p-inputtext {
    color: var(--font_2);
    background-color: var(--background);
    
    border-color: var(--header);
}

/* ========== Identity ========== */
#identity {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#identity_left {
    display: flex;
    flex-direction: column;
}

#identity_right {
    display: flex;
    flex-direction: column;
}

/* ========== Date ========== */
::ng-deep.p-datepicker table td > span {
    width: 2rem;
    height: 1.5rem;
}

::ng-deep.p-datepicker table td {
    padding: 0px;
}

/* ========== Button ========== */
#save {
    margin-top: 1rem;
    background-color: var(--header);
}
