section{
    background-color: #6595B8;
    height: 100%;
    display: flex;
}
#menu{
    height: 100%;
    width: 10%;
    background-color: #275575;
}

.roles{
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
}

.roleName{
    margin-left: 15px;
    margin-top: 5px;
}

input{
    background-color: #A2D0EA;
}

label{
    color: #10516D;
}

.p-float-label{
   margin-left: 120px;
   margin-bottom: 20px;
}
.colorSpan{
    background-color: #A2D0EA;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 120px;
    margin-left: 120px; 
}
.roleIcon ::ng-deep .p-button.p-button-icon-only {
    width: 20px;
    padding: 0.5rem 0;
}
.roleIcon ::ng-deep .p-button {
    color: #ffffff;
    background: #2b8a55;
    border: 1px solid #2196F3;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 60px;
    height: 15px;
    margin-left: 85%;
}

button{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 120px;
    margin-left: 120px; 
}

.rightsContainer{   
    display: flex;
    flex-direction: column;
}
.rights{
    background-color: #A2D0EA;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 120px;
    margin-left: 120px;  
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    background: #1cb301;
}
::ng-deep .p-inputswitch .p-inputswitch-slider {
    background: #d60b0b;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 30px;
}
::ng-deep .p-inputswitch.p-inputswitch-checked:not(.p-disabled):hover .p-inputswitch-slider{
    background: #1cb301;
}
::ng-deep .p-inputswitch:not(.p-disabled):hover .p-inputswitch-slider{
    background: #d60b0b;
}