#all {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width:100%;
    background-color: #6595B8;
} 

#label {
  margin: 3px;
}

#quatre{
  color: var(--header);
  font-size: 240px;
  
}

#texte{
  color: var(--header);
  font-size: 40px;
}



