.shared_img {
    height: 10rem;

    border-radius: .2rem;
}

#other {
    display: flex;
    align-items: center;
    
    padding: .5rem 0;
    
    font-weight: bold;

    border-radius: .5rem;

    color: var(--font_2);
    background-color: var(--background);
    box-shadow: 5px 3px 5px var(--font_2);
}

.icon {
    height: 2rem;
    margin: 0 .5rem;
    padding: .25rem;
    
    border-radius: .2rem;
}

.download {
    margin-left: 2rem;
}

.download:hover {
    /* background-color: var(--header); */
}
