#global {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

#title {
    justify-content: center;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 70px;
    color: #10516D;
}

#inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


img {
	width: 250px;
	height: 250px;
    margin-bottom: 30px;
}

.info{
    display: flex;
    flex-direction:row;
   
    margin-right: 40px;
    
}

span{
    margin-bottom: 30px;
    
}

button{
    margin-left: 40px;
}

input{
    background-color: #A2D0EA;
}
textarea{
    background-color: #A2D0EA;
}

label{
    margin-right: 40px;
    font-size: large;
    color: #10516D;
}