/* ========= Scrollbar ========= */
::ng-deep ::-webkit-scrollbar {
    width: 16px;
}

::ng-deep ::-webkit-scrollbar-track{
    background: var(--background); 
}

::ng-deep ::-webkit-scrollbar-thumb {
    background: var(--header); 

    border: solid 4px var(--background);
    
    border-radius: 200px;
}