div{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    background-color: var(--background);
}
/* ========= Scrollbar ========= */
.logsContainer::-webkit-scrollbar {
    width: 16px;
}

.logsContainer::-webkit-scrollbar-track{
    background: var(--background); 
}

.logsContainer::-webkit-scrollbar-thumb {
    background: var(--header); 

    border: solid 4px var(--background);
    
    border-radius: 200px;
}