* {
    padding: 0;
    margin: 0;

    --header: #4D729E; 
    --menu: #7295BF; 
    --background: #92BADE;
    --font_1: #84C9E7;
    --font_2: #1E346D;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

app-root {
    height: 100%;
}
