<div id="side_menu">
    <div>
        <!-- TODO Link to current team (+save route) -->
        <a routerLink="/teamMessages/1/1"> Retour</a>
    </div>

    <div>
        <!-- TODO Link to current team (+save route) -->
        <a routerLink="teamSummary/1"> Resume</a>
    </div>

    <div>
        <a routerLink="teamRoles"> Role</a>
    </div>

    <div>
        <a routerLink="teamMembers"> Members</a>
    </div>

    <div>
        <a routerLink="teamEmojis"> Emoji</a>
    </div>

    <div>
        <a routerLink="teamLogs"> Logs</a>
    </div>
</div>