#global {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    margin-bottom: 15px;

   
  }

#title {
    justify-content: center;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100px;
    color: var(--font_1);
}

#inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


img {
	width: 250px;
	height: 250px;
    margin-bottom: 30px;
}

.info{
    display: flex;
    flex-direction:row;
   
    margin-right: 40px;
    
}

span{
    margin-bottom: 30px;
    
}

button{
    margin-left: 40px;
}

input{
    background-color: var(--background);
}
textarea{
    background-color:var(--background);
}

label{
    margin-right: 40px;
    font-size: large;
    color: var(--font_1);
}