/*-----------------Logo log Container-----------------------------------*/
.circleExample{
    height: 10px;
    width: 10px;
    border-radius: 60%;
    position: relative;
    right: 25%;
    margin-top: 60%;
}
#type{
    display:flex;
}